* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://media.istockphoto.com/id/958693744/vector/abstract-red-light-trail-on-blue-background.jpg?s=1024x1024&w=0&k=20&c=NMWPgT3zSw2UxluLVNmhoQUcOuA_FgzQIvw5aDGQkVc=);
  background-size: cover;
}
.header {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(65, 132, 213, 0.807);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.07);
  text-shadow: 1px 1px 2px #321ea5, 1px 1px 10px #1796e0;
}
.text {
  font-size: 25px;
  margin-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(65, 132, 213, 0.807);
  text-shadow: 1px 1px 2px #321ea5, 1px 1px 10px #1796e0;
}
#email-container {
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgba(53, 53, 199, 0.696), purple);
  border: 1px solid rgba(54, 97, 206, 0.669);
  gap: 25px;
  align-items: center;
  position: relative;
}
#email-container::after {
  content: "";
  position: absolute;
  inset: -0.925em;
  background: linear-gradient(to top left, rgba(53, 53, 199, 0.696), purple);
  filter: blur(2.5em);
  z-index: -999;
}
.input {
  border-bottom: 1px solid rgba(211, 211, 211, 0.691);
  padding-bottom: 70px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs {
  height: 30px;
  width: 600px;
  background-color: rgba(69, 163, 184, 0.579);
  border: 1px solid rgba(255, 255, 255, 0.327);
  color: rgb(97, 200, 202);
  border-radius: 5px;
  font-size: 17.5px;
  font-weight: 500;
}
button {
  height: 40px;
  width: 600px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(65, 132, 213, 0.807);
  background-color: rgba(176, 52, 176, 0.475);
  border: 1px solid rgba(255, 255, 255, 0.327);
  border-radius: 5px;
  font-size: 17.5px;
  transition: 0.5s;
  cursor: pointer;
}
#button:hover {
  color: rgb(44, 180, 211);
  background-color: rgba(205, 58, 205, 0.475);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(23, 90, 171, 0.807) inset !important;
}
.checkBox {
  width: 20px;
}
input[type="checkbox"] {
  accent-color: purple;
}

.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #7a2dad;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type="checkbox"] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #7a2dad;
  transition-duration: 0s;
  cursor: pointer;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #6e79d6;
}
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
